/* * {
    background-color: white;
} */

ul {
    position: absolute;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body {
    position: relative;
    width: 1200px;
    height: 1543px;
    background: white;
}
main {
    position: absolute;
width: 906px;
height: 1314px;
left: 147px;
top: 182px;

}
/* section {
    position: absolute;
    width: 906px;
    height: 1314px;
    left: 147px;
    top: 182px;
    } */
    ul {    
        position: absolute;
        width: 150px;
        height: 1314px;
        left: 147px;
        top: 182px;}
.h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #626262;}

    .card1 {
        position: absolute;
        width: 420px;
        height: 546px;
        left: 148px;
        top: 182px;
}
    .card2 {
        position: absolute;
        width: 420px;
        height: 546px;
        left: 633px;
        top: 182px;
    }
    .card3 {
        position: absolute;
        width: 421px;
        height: 516px;
        left: 147px;
        top: 858px;
        }
    .card4 {
        position: absolute;
        width: 420px;
        height: 516px;
        left: 633px;
        top: 858px;
}
    .text {

        font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #626262;
    }
.li--title {

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #B4AD9E;
}
.footer {
    position: absolute;
    width: 100%;
    height: 252px;
    top: 2094px;
    background-color:  #212121;
}
.footer--title {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin-left: 30px;
}
.footer--text {
    margin-left: 40px;
    padding: 0;
    font-size: 25px;
}    
address {font-size: 25px; margin-top: 10px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: rgb(26, 137, 109);
    position: absolute;
    top: 0px;
    left: 450px;
}
.box:hover{
    background-color: rgb(21, 91, 222);
}
.box:active{
background-color: green;
}
.a {
    color: white;   
}
.a:visited {
    text-decoration: underline;
}
.a:not([type="button"], [type="reset"], [type="menu"]){
    border-radius: 50%;
}

.li:nth-child(odd) {
    background-color: gold;
}
.li:nth-child(even) {
    background-color: green;
}
.li:nth-child(3n) {
    background-color: blue;
}
.li:first-child {
    background-color: tomato;
}
.li:last-child {
    background-color: turquoise;
}
.box:empty {
    background-color: lime;
}
.box2 {
    display: block;
    background-color: green;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 1350px;
    top: 600px;
}
.box2--ul {
    display: inline;
    width: 400px;
    height: 300px;
    top: 60px;
    left: 10px;
}
.li2:nth-child(odd){
    background-color: rgb(17, 158, 17);
}
.li2:first-child {
    background-color: gold;
}
.li2:last-child {
    background-color: pink;
}
.li2:nth-child(4n) {
    background-color: rgb(138, 138, 138);
}
.li2:nth-child(18n) {
    background-color: blue;
}
.box3 {
    display: block;
    position: absolute;
    background-color: blue;
    width: 450px;
    height: 450px;
    top: 1200px;
    left: 1350px;
}

.box4 {
    display: block;
    position: absolute;
    background-color: blue;
    width: 450px;
    height: 450px;
    top: 1680px;
    left: 1350px;
}
.box3:hover {
    background-color: yellow;
}
.box4:hover {
    background-color: yellow;
}
.li2:hover {
    background-color: red;
}