 /* * {
background-color: #ffffff;
} */

.hero {
    background-color:  #212121;
    text-align: center;
    margin-top: 18px;
}


.class2 {
    background-color:  rgb(99, 224, 172);
}

.nav{
    display: block;
    background-color:  #212121;
    height: 80px;
}
.nav-list-item {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

ul,
ol {
    list-style: none;
}


h3,
p {color: #10395b;}

.team--title {
    text-align: center;
}
.team--img {
    text-align: center;
}

#g {
    font-style: normal;
}

h2 {font-size: 55px; }
form{
    display: block;
    height: 45px;
    background-color: #212121;
    margin-top: 15px;
}
.hero__heading {
    width: 696px;
    height: 150px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}
.list-item {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.hero__button {
    width: 216px;
    height: 50px;
    
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    outline: none;
    border: none;
    }
    .hero__button--text {
        display: block;
    
        width: 152px;
        height: 30px;
    
        margin: 0 auto;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    
        letter-spacing: 0.06em;
    
        color: #ffffff;
    }

    .footer--title {
        font-family:'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.06em;
        margin-left: 30px;
    }
    .footer--text {
        margin-left: 40px;
        padding: 0;
        font-size: 25px;
    }
    address {font-size: 25px; margin-top: 10px;}
